.grid {
    display: grid;
    margin: 60px;
    grid-template-columns: repeat(32, 34px);
    grid-template-rows: repeat(24, 34px);;
}

button {
    width: 32px;
    height: 32px;
    border: none;
}

#exportButton {
    width: 100px;
    height: 100px;
    border: 5px black;
}